.DS_Store
{{#cljs-app?}}
/resources/public/js
figwheel_server.log
*.min.css
{{/cljs-app?}}
*.swp
target/*
lib*
*.orig
*jar
.idea
.lein-failures
dc-sdk.log
.classpath
.lein-deps-sum
.lein-plugins/
.project
.lein-env
.nrepl-port
.lein-repl-history
